.main {
  padding: 0px 30px;
  margin: 30px 70px;
  .button-groups {
    justify-content: flex-end;
  }
  .custom-dropdown {
    width: 700px;
  }
  .btn {
    margin: 0 10px;
    padding: 0.2rem 0.5rem;
    background-color: #ffffff;
    color: #000000;
  }
  .recharts-cartesian-axis-tick {    
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
}
}

.hide-options .Select-arrow-zone {
  display: none;
}

.hide-options .Select-menu-outer {
  display: none;
}

#line-chart-container {
  width: 85%;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.25);
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

#bar-chart-container {
  width: 85%;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.25);
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.p-30 {
  padding: 30px;
}